<article id="main">

    <header class="special container">
        <span class="icon solid fa-chart-bar"></span>
        <h2>
            En este sitio, podrás trabajar tanto indivualdmente
            <br />
            como con tus compañeros. Llevando así, un mejor control
            <br />
            de tus proyectos o simples tareas dirias.
        </h2>
        <p>
            Actualmente, esta es la versión de prueba pero vamos,
            <br />
            a seguir trabajando para traerte un mejor aplicativo, con mejores
            <br />
            interfaces y más sencillo de manejar.
        </p>
    </header>

    <!-- One -->
    <section class="wrapper style2 container special-alt">
        <div class="row gtr-50">
            <div class="col-8 col-12-narrower">

                <header>
                    <h2>Un <strong>ToDoList</strong> es básicamente una lista de cosas pendientes que tengas hacer.</h2>
                </header>
                <p>De esta manera tendrás una vista rápida y organizada de tus tareas. Puedes utilizarlo de manera individual, o crear un grupo de trabajo en el cuál, todos los participantes podrán ver, agregar y eliminar tareas.
                <br />
                    Además puedes asignarle tareas a tus compañeros, para que estén informados de lo que deben hacer en el proyecto.
                <br>
                    Crea un tablero, en donde podrás crear nuevas listas de tareas como por ejemplo: <strong>Por Hacer</strong>, <strong>En Progreso</strong>, <strong>Terminado</strong>, etc.
                </p>
                <footer>
                    <ul class="buttons">
                        <li><a href="/Users/Register" class="button">Empezar Ahora</a></li>
                    </ul>
                </footer>

            </div>
            <div class="col-4 col-12-narrower imp-narrower">

                <ul class="featured-icons">
                    <li><span class="icon fa-clock"><span class="label">Feature 1</span></span></li>
                    <li><span class="icon solid fa-volume-up"><span class="label">Feature 2</span></span></li>
                    <li><span class="icon solid fa-laptop"><span class="label">Feature 3</span></span></li>
                    <li><span class="icon solid fa-inbox"><span class="label">Feature 4</span></span></li>
                    <li><span class="icon solid fa-lock"><span class="label">Feature 5</span></span></li>
                    <li><span class="icon solid fa-cog"><span class="label">Feature 6</span></span></li>
                </ul>

            </div>
        </div>
    </section>

    <!-- Two -->
    <section class="wrapper style1 container special">
        <div class="row">
            <div class="col-4 col-12-narrower">

                <section>
                    <span class="icon solid featured fa-check"></span>
                    <header>
                        <h3>Intuitivo</h3>
                    </header>
                    <p>Fácil de manejar y de entender</p>
                </section>

            </div>
            <div class="col-4 col-12-narrower">

                <section>
                    <span class="icon solid featured fa-check"></span>
                    <header>
                        <h3>Colaborativo</h3>
                    </header>
                    <p>Trabaja con tus compañeros en tiempo real.</p>
                </section>

            </div>
            <div class="col-4 col-12-narrower">

                <section>
                    <span class="icon solid featured fa-check"></span>
                    <header>
                        <h3>Gratis</h3>
                    </header>
                    <p>No necesitas pagar para usarlo.</p>
                </section>

            </div>
        </div>
    </section>

    <!-- Three -->
    <!-- <section class="wrapper style3 container special">

        <header class="major">
            <h2>Next look at this <strong>cool stuff</strong></h2>
        </header>

        <div class="row">
            <div class="col-6 col-12-narrower">

                <section>
                    <a href="#" class="image featured"><img src="~/Content/imagenes/pic01.jpg" alt="" /></a>
                    <header>
                        <h3>A Really Fast Train</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
            <div class="col-6 col-12-narrower">

                <section>
                    <a href="#" class="image featured"><img src="~/Content/imagenes/pic02.jpg" alt="" /></a>
                    <header>
                        <h3>An Airport Terminal</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-6 col-12-narrower">

                <section>
                    <a href="#" class="image featured"><img src="~/Content/imagenes/pic03.jpg" alt="" /></a>
                    <header>
                        <h3>Hyperspace Travel</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
            <div class="col-6 col-12-narrower">

                <section>
                    <a href="#" class="image featured"><img src="~/Content/imagenes/pic04.jpg" alt="" /></a>
                    <header>
                        <h3>And Another Train</h3>
                    </header>
                    <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
                </section>

            </div>
        </div>

        <footer class="major">
            <ul class="buttons">
                <li><a href="#" class="button">See More</a></li>
            </ul>
        </footer>

    </section>-->

</article>