<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner" id="info_inicial">

        <header>
            <h2>To Do List</h2>
        </header>
        <p>
            Esta herramienta permite<br>
            organizar tus <strong>tareas</strong> dirias, de una <br>
            forma sencilla e intuitiva.
        </p>
        <footer>
            <ul class="buttons stacked">
                <li><a href="#main" class="button fit scrolly">Cuéntame más</a></li>
            </ul>
        </footer>

    </div>

</section>