<section id="cta">

    <header>
        <h2>¿Listo para <strong>empezar</strong>?</h2>
        <p>Registrate completamente gratis!</p>
    </header>
    <footer>
        <ul class="buttons">
            <li><a href="/Users/Register" class="button primary">Registrarse</a></li>
            <li><a href="/Users/Login" class="button">Iniciar Sesión</a></li>
        </ul>
    </footer>

</section>